@use 'variables' as *;
@forward 'variables';
@forward 'breakpoints';

.error-msg {
  color: $error-color;
  margin-top: 5px;
}

.form .error {
  border-color: $error-color;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
